In [1]:
import pandas as pd

## Read in dataframe

In [2]:
df = pd.read_csv("results_df.csv")
df.head()

,filltype,fill,ndatapts,ttotal,tksearch,tfrsearch,tprocessing,listmethod,memory,method
0,full,100,250000,2.06572,0.0,0.0,0.0,-1,116.740,CLL
1,full,100,250000,2.16067,0.0,0.0,0.0,-1,116.784,CLL
2,full,100,250000,2.11499,0.0,0.0,0.0,-1,116.780,CLL
3,full,100,250000,2.17325,0.0,0.0,0.0,-1,116.748,CLL
4,full,100,250000,2.16133,0.0,0.0,0.0,-1,116.704,CLL

## Ergebnistabelle
Grouped mean values

In [3]:
latexdf = df.groupby(["fill", "filltype", "method"]).mean()
latexdf = latexdf.drop(columns = ["listmethod"])
latexdf = latexdf.reindex(['ndatapts', 'memory',
       'tfrsearch', 'tksearch', 'tprocessing', 'ttotal'], axis=1)
latexdf = latexdf.rename(index=str, columns={'ndatapts':"Datapts",
                              'memory':"Memory",
                              'tfrsearch':"$t_{frsearch}$",
                              'tksearch':"$t_{tksearch}$",
                              'tprocessing':"$t_{processing}$",
                              'ttotal':"$t_{total}$"})

latexdf

                        Datapts    Memory  $t_{frsearch}$  $t_{tksearch}$  \
fill filltype   method
2    corners    ANN        7200   16.0200        0.089454        0.125416
                ANN-NL     7200   13.9272        0.065853        0.068417
                CLL        7200    8.8360        0.000000        0.000000
11   clusters2  ANN       27648   42.4552        0.315752        0.528472
                ANN-NL    27648   34.5464        0.203321        0.215278
                CLL       27648   19.1832        0.000000        0.000000
     clusters4  ANN       27648   34.3024        0.220007        0.407967
                ANN-NL    27648   28.6176        0.129588        0.153222
                CLL       27648   13.4952        0.000000        0.000000
     clusters6  ANN       27648   27.5328        0.139333        0.264792
                ANN-NL    27648   23.4600        0.079221        0.105010
                CLL       27648   13.0264        0.000000        0.000000
     corners    ANN       28158   51.0096        0.445047        0.704798
                ANN-NL    28158   41.1448        0.284498        0.283552
                CLL       28158   19.2456        0.000000        0.000000
     diagonal   ANN       29424   48.7464        0.410278        0.672469
                ANN-NL    29424   39.5344        0.275499        0.280569
                CLL       29424   19.2728        0.000000        0.000000
14   corners    ANN-NL    37044   52.3688        0.477097        0.472387
                CLL       37044   20.8816        0.000000        0.000000
51   clusters10 ANN-NL   128000  111.6776        0.706010        0.888990
                CLL      128000   41.0800        0.000000        0.000000
     clusters20 ANN-NL   128000  107.6240        0.671166        0.869448
                CLL      128000   40.0392        0.000000        0.000000
     clusters5  ANN-NL   128000  130.7856        0.871986        0.985294
                CLL      128000   61.4160        0.000000        0.000000
100  full       ANN-NL   250000  347.1712        2.881590        2.802254
                CLL      250000  116.7512        0.000000        0.000000

                        $t_{processing}$  $t_{total}$
fill filltype   method
2    corners    ANN            63.170640    63.401400
                ANN-NL          0.000193     0.147615
                CLL             0.000000     0.019208
11   clusters2  ANN           791.792800   792.699000
                ANN-NL          0.000725     0.470646
                CLL             0.000000     0.078372
     clusters4  ANN           441.355800   442.043200
                ANN-NL          0.000700     0.333703
                CLL             0.000000     0.067759
     clusters6  ANN           223.460200   223.922600
                ANN-NL          0.000716     0.233597
                CLL             0.000000     0.066576
     corners    ANN          1339.178000  1340.394000
                ANN-NL          0.000800     0.619869
                CLL             0.000000     0.080319
     diagonal   ANN          1170.922000  1172.074000
                ANN-NL          0.000794     0.610629
                CLL             0.000000     0.080480
14   corners    ANN-NL          0.001151     1.042355
                CLL             0.000000     0.103641
51   clusters10 ANN-NL          0.003214     1.812400
                CLL             0.000000     0.615336
     clusters20 ANN-NL          0.003185     1.752518
                CLL             0.000000     0.601233
     clusters5  ANN-NL          0.003239     2.074768
                CLL             0.000000     0.638907
100  full       ANN-NL          0.006487     6.092552
                CLL             0.000000     2.135192

## Latex

In [4]:
outputfile = "../latex/kapitel/ergebnistabelle.tex"
floatfmt = "%.2f" 
groups_spacing = "2.0ex"


latexsrc = latexdf.to_latex(float_format=floatfmt, escape=False).splitlines()

for n in range(6,len(latexsrc)-3):
    if not latexsrc[n][0] == " ":
        latexsrc[n-1] = latexsrc[n-1] + "[{}]".format(groups_spacing)

with open(outputfile,'w') as f:
    for line in latexsrc:
        f.write(line + '\n')